body {
  color: rgb(55, 0, 60);
  font-weight: normal;
  font-family: "PremierSans-Bold", Arial, "Helvetica Neue", Helvetica,
    sans-serif;
}

.title {
  margin-left: 20px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.team {
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.team-body-name {
  font-size: 14px;
  font-weight: normal;
  padding: 3px;
  border-bottom: 1px solid rgb(239, 239, 239);
}

.opponent {
  width: 120px !important;
  min-width: 65px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.opponent-abbrv {
  border: 1px solid #ccc;
  padding: 3px;
}

.team-logo {
  width: 14px;
  height: 14px;
}

.team-body-name {
  text-align: left;
  display: flex;
  align-items: center;
}

.team-name {
  margin-left: 5px;
}

thead {
  font-size: 14px;
}

table,
form,
.bmc {
  margin-left: 100px;
  margin-bottom: 2px;
  display: block;
  -webkit-text-size-adjust: 100%;
}

form {
  font-size: 15px;
}

.bmc {
  margin-bottom: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 4px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
}

.range-form {
  display: flex;
  justify-content: left;
  margin-bottom: 2px;
  margin-top: 10px;
}

.range-input {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 10px;
  margin-bottom: 2px;
}

.range-input label {
  margin-bottom: 2px;
}

.range-button {
  display: flex;
  align-items: flex-end;
}

.range-button input[type="submit"] {
  background: linear-gradient(to right, #00ff87, rgb(2, 239, 255));
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"] {
  height: 35px;
  font-size: 15px;
}

input {
  height: 20px;
}
